.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: #fafaff;
}


html {
  min-height: 100vh;
}
nav{
  background-color: #ecebe4;
}

footer {
  margin-top: auto;
  background-color: #ecebe4;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}

li{
  list-style: none;
  display: inline;
  margin: 10px;
}

